{%extends "layout.html"%}

{%block title%}
    INFO
{%endblock%}

{%block main%}
<table align="center">
<tr>
    <td>
    <div class="card text-center border-info mb-3" style="width: 18rem; height: 18rem;">
      <div class="card-body text-info">
        <h5 class="card-header">Isolation Guidance</h5>
          <p class="card-text">**Government guidance on how to self isolate if you show symptoms**<br>
              click
              <span>
                  <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/873359/Stay_at_home_guidance_diagram.pdf">here</a>
              </span> for quarantine duration explained document</p>
        <a href="https://www.gov.uk/government/publications/covid-19-stay-at-home-guidance/stay-at-home-guidance-for-households-with-possible-coronavirus-covid-19-infection" class="btn btn-primary">info</a>
      </div>
    </div>
    </td>

    <td>
    <div class="card text-center border-info mb-3" style="width: 18rem; height: 18rem;">
      <div class="card-body text-secondary">
        <h5 class="card-header">Social distancing</h5>
        <p class="card-text">**Government advice on social distancing**</p>
        <a href="https://www.gov.uk/government/publications/covid-19-guidance-on-social-distancing-and-for-vulnerable-people" class="btn btn-primary">info</a>
      </div>
    </div>
    </td>
</tr>
<tr>
    <td>
    <div class="card text-center border-info mb-3" style="width: 18rem; height: 18rem;">
      <div class="card-body text-success">
        <h5 class="card-header">Travel Advice</h5>
        <p class="card-text">**Government travel advice**</p>
        <a href="https://www.gov.uk/guidance/travel-advice-novel-coronavirus" class="btn btn-primary">info</a>
      </div>
    </div>
    </td>

    <td>
    <div class="card text-center border-info mb-3" style="width: 18rem; height: 18rem;">
      <div class="card-body text-danger">
        <h5 class="card-header">NHS info</h5>
        <p class="card-text">**Information from the NHS on how to stay safe with coronavirus**</p>
        <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/" class="btn btn-primary">info</a>
      </div>
    </div>
    </td>
</tr>
</table>

{% endblock %}